body{
    color: white;
    background-color: #333333;
    height: 100vh;
}
header div{
    color: white;
    text-align: center;
}
select{
    margin-bottom: 20px;;
}
button{
    background-color: #333333;
    cursor: pointer;
    color: greenyellow;
}
button:hover{
    color: #333333;
    background-color: greenyellow;
}
p{
    margin: 0;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.grid-container {
    overflow: hidden;
    position: relative;
    /* width: 20%; */
    width: 350px;
    height: 200px;
    /* display: grid; */
    /* grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%; */
    padding: 1%;
    border: 2px solid white;
    border-radius: 10%;
}
@keyframes examples-left{
    0%    { left: 0%; }
  /*99%  { left: -50%; }*/
  50% {left: -50%;}
  50.0001% { left: 50%; }
  100% { left: 0%; }
    /*from {left: 0px; background-color: blue;}
    to {left: 200%;}*/
}
@keyframes example-left{
    0%    { left: 50%; }
  /*99%  { left: -50%; }*/
  100% {left: -50%;}
    /*from {left: 0px; background-color: blue;}
    to {left: 200%;}*/

}
@keyframes examples-right{
    0%    { left: 0%; }
  /*99%  { left: -50%; }*/
  50% {left: 50%;}
  50.0001% { left: -50%; }
  100% { left: 0%; }
    /*from {left: 0px; background-color: blue;}
    to {left: 200%;}*/
}
@keyframes example-right{
    0%    { left: -50%; }
  /*99%  { left: -50%; }*/
  100% {left: 50%;}
    /*from {left: 0px; background-color: blue;}
    to {left: 200%;}*/

}
.row-left{
    float: left;
    clear: both;
    width: 200%;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    height: 20%;
    position: relative;
}
/* .row-left{
    width: 200%;
   animation: example 5s linear infinite;
   animation: example 6s linear 0s;
    animation-iteration-count: infinite;
} */
.row-left:nth-of-type(odd) .hlo:nth-of-type(1){
    position: absolute;
    width: 50%;
    left:0;
    animation: examples-left 10s linear infinite;
    /*display: none;*/
}
.row-left:nth-of-type(odd) .hlo:nth-of-type(2){
    animation: example-left 10s linear infinite;
    position: absolute;
    width: 50%;
    left: 50%;
}
.row-left:nth-of-type(even) .hlo:nth-of-type(1){
    position: absolute;
    width: 50%;
    left:0;
    animation: examples-right 10s linear infinite;
    /*display: none;*/
}
.row-left:nth-of-type(even) .hlo:nth-of-type(2){
    animation: example-right 10s linear infinite;
    position: absolute;
    width: 50%;
    left: 50%;
}
/* .hlo{
    animation: example 5s linear;*/
    /*animation-iteration-count: infinite;*/
    /*animation-fill-mode: forwards;
} */
.grid-item {
    float: left;
    min-width: 18%;
    margin-left: 2%;
    cursor: pointer;
    color:white;
    background-color: #eeeeee;
    /* margin: 4%; */
    text-align: center;
    font-size: 30px;
}
.grid-item:hover {
    background-color: #333333;
    color: white;
}

@media(min-width: 992px){
    body{
        margin-top: 60px;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    body{
        margin-top: 40px;
    }
}

@media(max-width: 767px){
    body{
        margin-top: 20px;
    }
}